run = [
    "deno",
    "run",
    "--lock=deno.json",
    "--lock-write",
    "--allow-all",
    "main.ts",
]

hidden = [".deno"]

entrypoint = "index.ts"

[languages.deno]
pattern = "**/*.{ts,js}"
[languages.deno.languageServer]
start = ["deno", "lsp"]
[languages.deno.languageServer.initializationOptions]
enable = true
lint = true

[env]
DENO_DIR = "/home/runner/${REPL_SLUG}/.deno"

[nix]
channel = "stable-24_05"

[deployment]
run = ["deno", "run", "--lock=lock.json", "--allow-all index.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40950908
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "deno run --allow-net main.ts"
